body {
   margin: 0;
}
@font-face {
  font-family: 'MyFont';
  src: local('Fontfabric-UniNeueBold'), url(./fonts/Fontfabric-UniNeueBold.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}